.container {
    width: 50%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px; 
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(153, 14, 14);
}

h2 {
    text-align: center;
    color: #000000;
}

form {
    display: grid;
    gap: 8px;
}

label {
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    box-sizing: border-box;
}

button {
    background-color: rgb(116, 6, 6);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #b30000;
}
