* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'popins', sans-serif;
}

html {
  height: 500vh;
  background-color: black;
}

.icon-luluzinha{
  width: 60px; 
  height: 60px; 
}


.container {
  max-width: 1280px;
  margin: auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  width: 100%;
  padding: 60px 4%;
  position: fixed;
  top: 0;
  left: 0;
  transition: .5s;
  z-index: 1200;
}

header.rolagem{
  background-color: white;
  padding: 30px 4%;
}
header.rolagem a {
  color: black;
}

header ul {
  list-style-type: none;
}
.flex a{
  color: aliceblue;
  text-decoration: none;
}
header ul li {
  display: inline-block;
  margin: 0px 40px;
}

header ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.banner {
  height: 100vh;
  background-image: url('../img/plano-de-fundo/fundo5.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.banner h1 {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0); /* Cor do texto */
  text-align: center;
  font-size: 4em; /* Tamanho da fonte */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto para melhorar a legibilidade */
  z-index: 1000;
}

.banner h1 span{
  color: rgb(234, 231, 238);
}
