* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'popins', sans-serif;
}

html {
  height: 500vh;
  background-color: rgb(255, 255, 255);
}

.icon-luluzinha{
  width: 60px; 
  height: 60px; 
}


.container {
  max-width: 1280px;
  margin: auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  width: 100%;
  padding: 60px 4%;
  position: fixed;
  top: 0;
  left: 0;
  transition: .5s;
  z-index: 1200;
}

header.rolagem{
  background-color: rgb(231, 74, 74);
  padding: 30px 4%;
}
header.rolagem a {
  color: black;
}

header ul {
  list-style-type: none;
}
.flex a{
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
header ul li {
  display: inline-block;
  margin: 0px 40px;
}

header ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.banner {
  height: 100vh;
  background-image: url('../img/plano-de-fundo/fundo11.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

