<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/cadastrar_professores.css">
    <link rel="shortcut icon" href="../static/img/favicon.png" type="image/x-icon">
    <title>CADASTRAR PROFESSORES - ESCOLA LULUZINHA</title>
</head>
<body>
    <div class="container">
        <h2>CADASTRO DE PROFESSORES</h2>
        <form action="{{ url_for('cadastrar_professores') }}" method="post">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>

            <label for="Disciplina">Disciplina:</label>
            <!-- <input type="text" id="disciplina" name="disciplina" required> -->

            <select name='disciplina' id='disciplina' required>
                <option value=""></option>
                <option value="Matemática">Matemática</option>
                <option value="Língua Portuguesa">Língua Portuguesa</option>
                <option value="Ciências">Ciências</option>
                <option value="Geografia">Geografia</option>
                <option value="História">História</option>
                <option value="Artes">Artes</option>
            </select>

            <label for="email">E-email:</label>
            <input type="email" id="email" name="email" required>

            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required>

            <label for="Endereço">Endereço:</label>
            <input type="text" id="endereco" name="endereco" required>

            <button type="submit">CADASTRAR</button>
            <button type="button" onclick="goBack()">VOLTAR</button>
        </form>
        <script src="{{url_for('static', filename='js/script_button.js')}}"></script>
</body>
</html>