<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/homepage.css">
    <link rel="shortcut icon" href="../static/img/favicon.png" type="image/x-icon">
    <title>HOMEPAGE - ESCOLA LULUZINHA</title>
</head>
<body>
    <header id="header">
        <div class="container">
            <div class="flex">
              <a href="#">
                <img src="{{ url_for('static', filename='../static/img/favicon.png') }}" alt="Ícone da escola" class="icon-luluzinha">
            </a>
                <nav>
                    <ul>
                        <li><a href="{{url_for('login_aluno')}}">VER BOLETIM</a></li>
                        <li><a href="{{ url_for('login') }}">LOGIN</a></li>
                        <li><a href="{{ url_for('duvidas') }}">DÚVIDAS</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
   
    <section class="banner"></section>

    <section class="sobre-escola">
        <div class="container">
            <div id="sobre_nos">
                <h2>Sobre a Escola Luluzinha</h2> <br>
                <p>Nossa Jornada Rumo ao Equilíbrio e Bem-Estar</p>
                <p>Na Clínica de Psicologia Harmonia Interior, estamos dedicados a ajudar você a encontrar o equilíbrio
                    emocional, mental e psicológico necessário para viver uma vida plena e saudável...</p>
            </div>
            <div id="quem_somos">
                <h1>Quem Somos</h1> <br>
                <p>Nossa clínica é formada por um grupo de profissionais altamente capacitados e éticos, que possuem uma
                    ampla gama de especializações e experiências. Cada um de nossos terapeutas está comprometido em fornecer
                    um ambiente seguro e confidencial para você explorar seus pensamentos, sentimentos e desafios.</p>
            </div>
        </div>
    </section>
    
    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="footer-column">
                    <h3>Contato</h3>
                    <p>Endereço: Rua da Escola, 123</p>
                    <p>Email: contato@escolaluluzinha.com</p>
                    <p>Telefone: +55 123 456 789</p>
                </div>
                <div class="footer-column">
                    <h3>Redes Sociais</h3>
                    <ul>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script>
      window.addEventListener("scroll", function(){
        let header=document.querySelector('#header')
        header.classList.toggle('rolagem', window.scrollY > 240)
      })
    </script>
</body>
</html>
