<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/homepage.css">
    <link rel="shortcut icon" href="../static/img/favicon.png" type="image/x-icon">
    <title>HOMEPAGE - ESCOLA LULUZINHA</title>
</head>
<body>
    <header id="header">
        <div class="container">
            <div class="flex">
              <a href="#">
                <img src="{{ url_for('static', filename='../static/img/favicon.png') }}" alt="Ícone da escola" class="icon-luluzinha">
            </a>
                <nav>
                    <ul>
                        <li><a href="{{url_for('login_aluno')}}">VER BOLETIM</a></li>
                        <li><a href="{{ url_for('login') }}">LOGIN</a></li>
                        <li><a href="{{ url_for('duvidas') }}">DÚVIDAS</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <section class="banner">
    </section>

    <script>
      window.addEventListener("scroll", function(){
        let header=document.querySelector('#header')
        header.classList.toggle('rolagem', window.scrollY > 240)
      })
    </script>
</body>
</html>
